body{
	font-family: 'Open Sans', "Helvetica CY", "Nimbus Sans L", sans-serif;
	color: #b7b7b7; 
	background: #f3f3f3;
	font-size: 13px;
    line-height: 1.3; 
    min-width: 480px;
}
.container{
	min-width: 480px;
	max-width: 1174px;	
	margin: 0 auto;
}
header{
	background-color: #76c7c0;
	background-image: url(../img/hd-br.png);
	background-position: 0 100%;
	background-repeat: repeat-x;	
}
.head_menu{
	padding: 36px 63px 21px 0;
}
.logo{
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	font-weight: 800;
	float: left;
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 27px 0 1px;
}
.logo span{
	display: inline-block;
	color: #fff;
	font-size: 25px;
	line-height: 30px;	
	font-weight: 400;
	padding: 0 0 0 4px;
	text-transform: none;
} 
.menu{
	display: block;
	position: static;
	width: auto;
	background: transparent;
	float: right;
	padding: 0;
	margin: 0;
}
.menu ul{	
	padding:  0;	
	list-style: none;
	margin: 0;	
}
.menu li{
	display: inline-block;
	margin: 0;
	padding: 0;		
}
.menu li a{
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	padding: 11px 20px 13px 24px;	
}
.menu-btn{
	float: left;
	width: 70px;
	height: 70px;
	background: #000;
	position: relative;
	display: none;		
}
.menu-btn span{
	width: 18px;
	height: 2px;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -1px  0 0 -9px;
}
.menu-btn span::before,.menu-btn span::after{
	content: "";
	width: 18px;
	height: 2px;
	background: #fff;
	position: absolute;
	left: 0;
}
.menu-btn span::before{
	top: -5px;
}
.menu-btn span::after{
	bottom: -5px;
}
.menu-btn .is-active span{
	background: transparent;
}
.menu-btn .is-active::before{
	transform: rotate(45deg);
	top: 0;
}
.menu-btn .is-active::after{
	transform: rotate(90deg);
	bottom: 0;
}
.slider img{
	display: block;
	width: 100%;
	height: auto;
}
.slide1{
	position: relative;
}
.title{
	width: 336px;
	height: 140px;
	text-align: center;
	position: absolute;
	top:50%;
	left: 50%;
	margin: -70px 0 0 -168px;
	padding: 0 0 0 0;
}
h1{
	font-size: 50px;
	line-height: 60px;
	text-transform: uppercase;
	font-weight: 800;	
	color: #fff;
	background: #e2534b;
	padding: 0 0 0 0;
	margin:  0 0 8px 0;
	border-radius: 5px;
}
.txt-title{
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;	
	color: #fff;
	background: rgba(0,0,0, 0.6);
	padding:  8px 41px 11px 35px;
    margin: 0 -61px 0 -75px;
    border-radius: 5px;  
}
.services{
	text-align: left;
	color: #7f8c8c;
	background: #ececec;
	border-radius: 5px;
	padding: 0 35px 15px 27px;
    margin: 51px 0 20px 0;
}
.txt-services{
	float: left;
}
.services h3{
	font-size: 30px;
	line-height: 27px;
	font-weight: 600;
	padding: 23px 0 0 0;
	margin: 0 ;
}
.services p{
	font-size: 13px;
	line-height: 10px;
	font-weight: 400;
}
.btn{	
	text-decoration: none;
	text-transform: uppercase;
	width: 200px;
	height: 54px;
	border-radius: 5px;
	text-align: center;
	line-height: 54px;	
	display: inline-block;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
	
}
.view-more{
	float: right;
	box-shadow: inset 0px -4px 5px 0px rgba(226,83,75,1);
	background: #1e5799;
    background: -webkit-linear-gradient(#1e5799 0%, #e8645a 0%, #2989d8 0%, #2989d8 0%, #e8645a 0%, #e2534b 100%, #e2534b 100%, #e2534b 100%, #e2534b 100%, #e2534b 100%);
    background: -o-linear-gradient(#1e5799 0%, #e8645a 0%, #2989d8 0%, #2989d8 0%, #e8645a 0%, #e2534b 100%, #e2534b 100%, #e2534b 100%, #e2534b 100%, #e2534b 100%);
    background: linear-gradient(#1e5799 0%, #e8645a 0%, #2989d8 0%, #2989d8 0%, #e8645a 0%, #e2534b 100%, #e2534b 100%, #e2534b 100%, #e2534b 100%, #e2534b 100%);
    margin: 23px 3px 0 0;
}
.item-services{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
.item-service{
	width: 23%;
	text-align: center;
	color: #8c9898;
	background: #fff;
	position: relative;
}
.item-service h5{
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 600;
	margin:  58px 0 27px 0
	padding: 60px 0 0 0;
	position: relative;
}
.item-service h5::before{
	content:  " \f0a4";
	display: inline-block;
   	font: normal normal normal 68px/1 FontAwesome;
	position: absolute;
	top: -17px;
    right: 34%;
    color: #62bdbd;
}
.item-service p{
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	padding: 0 0 0 0;
	margin:  0 0 35px 0;
}
.read-more{
	box-shadow: inset 0px -4px 5px 0px rgba(98,185,176,1);
	background: #76c7c0; 
	position: absolute;
	bottom: 0;
	right: 50%;   
}
.read-more:hover{	
	background: #1e5799;
}
.reviews{
	width: 100%;
	text-align: center;
	background: #ececec;
	background-image: url(../img/content-br.png);
	background-position: 0 0;
	background-repeat: repeat-x;
	margin: 0 0 0 0;
}
.reviews h4{
	color: #e1524b;
	font-size: 40px;
	line-height: 48px;
	font-weight:600;
	text-transform: uppercase;	
	padding: 62px 0 0px 0;
	margin:  0;
}
.reviews p{
	color: #8c9898;
	line-height: 21px;
	font-weight:400;	
	margin:  0 0 57px 0;
}
.reviews-items{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.reviews-items h6{
	color: #8c9898;
	font-size: 16px;
	line-height: 21px;
	font-weight:800;	
	margin:  0 0 31px 0;
}
.item-choose{
	width: 20%;
	text-align: left;
	padding: 
}
.item-choose ul{
	padding:  0;	
	list-style: none;
	margin: 0;		
}
.item-choose li{
	display: block;
	padding: 0 10px 10px 20px;
	list-style: none;
	position: relative;
}
.item-choose li:before{
	content: '';
	width: 12px;
	height: 12px;
	background: url(../img/arrow-review.png) 0 0 no-repeat;
	position:absolute; 
	top: 16%;
	left: 0;
}
.item-about{
	width: 47%;
    text-align: left;
    padding: 0 17px 0 0px;
    margin: 0 0 0 68px;
}
.item-about p{
	line-height: 21px;
}
.item-about a{
	display: inline-block;
	color:#e1524b;
}
.item-rewiew{
	width: 21%;
    text-align: left;
    margin: 0 0 0 4%;
}
.txt-item-rewiew{
	background: #fff;
	border-radius: 5px;
	padding: 0 0 0 0;
}
.item-rewiew span{
	display: block;
	font-size: 16px;
	font-weight: 600;
	line-height: 30px;
}
footer{
	background-color: #76c7c0;
	background-image: url(../img/content-br.png);
	background-position: 0 0;
	background-repeat: repeat-x;
}
.contacts{
	width: 100%;
	padding: 34px 0 0 0;
	color: #fff;
}
.contacts h6{
	color: #497e79;	
	margin:  0;
}
.item-contacts{
	width: 31%;
	text-align: left;
	display: inline-block;
	padding: 0 0 0 0;
	margin: 0 3% 0 0;
}
.item-contacts h6{
	font-size: 30px;
	line-height: 48px;
	font-weight:800;
	text-transform: uppercase;	
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
.item-contacts h6 span{
	display: inline-block;
	font-size: 25px;
	line-height: 30px;
	font-weight:400;
	padding: 0 0 0 2px;
}
.item-contacts p{
	line-height: 23px;
}
.item-contacts span{
	display: block;
}

.item-company{
	width: 20%;
	text-align: left;
	display: inline-block;
	margin: 0 2% 0 0;
}
.item-company h6{
	font-size: 20px;
	line-height: 24px;
	font-weight:800;
	padding: 0 0 0 0;
	margin: 0 0 16px 0;
}
.item-company ul{
	padding:  0;	
	list-style: none;
	margin: 0;		
}
.item-company li{
	padding:  0;	
	list-style: none;
	margin: 0;	
}
.item-company  li a{
	color: #fff;
	display: block;
	padding: 0 10px 10px 20px;
	list-style: none;
	text-decoration: none;
	position: relative;
}
.item-company li a::before{
	content: '\f105';
	display: inline-block;
   	font: normal normal normal 10px/1 FontAwesome;
	position: absolute;
	top: 14%;
    left: 11px;
}
.item-contacts-blog{
	width: 43%;
	display: inline-block;
	margin:  0 0 0 0;
}
.item-contacts-blog h6{
	font-size: 20px;
	line-height: 24px;
	font-weight:800;
	text-transform: uppercase;	
	padding: 0 0 0 0;
	margin: 0 0 16px 0;
}
.item-contacts-blog h6 i{
	display: inline-block;
	font-weight:600;
	text-transform: none;
	padding: 0 10px 0 0 ;
}
.blog-items{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
.blog-item a{
	width: 26%;
	display: inline-block;
	text-decoration: none;
	float: left;
	border-radius: 6px;
	padding: 0 0 20px 0;
}
.blog-item a img{
	display: block;
	width: 100%;
	height: auto;
	border-radius: 6px;
}
.blog-item p{
	line-height: 20px;
	padding: 0 0 0 30%;
}
.blog-item span{
	display: block;
	color: #497e79;
	padding: 0 0 0 30%;
}










	







